.img {
  width: 100%;
  object-fit: contain;
}

.img-fluid {
  width: fit-content;
  margin: auto;
  margin-top: 8px;
  padding: 0 8px;
  position: relative;
  transition: opacity 0.1s linear;
  &:hover {
    opacity: 1.2;
    cursor: pointer;
  }
  &:hover .overlay {
    display: block;
  }
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.2);
  margin: 8px;
  margin-top: 0px;
  z-index: 1;
}

.img-content {
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.update-btn {
  position: absolute;
  top: 16px;
  right: 64px;
  z-index: 2;
}

.delete-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 2;
}

.download-btn {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 2;
}
